!!! 5
%html
  %head
    %title Knitting charter
    %script{ :type => "text/javascript", :src => "/jquery.js" }
    %script{ :type => "text/javascript", :src => "/jquery.ba-bbq.min.js" }
    
    :javascript
      update_chart = function(instructions) {
          $.getJSON("/chart.json", { instructions: instructions }, function(data) {
            var chart = data.chart;
            var html = "<table>";
            var index = chart.length + 1;
            chart.map(function(row) {
              index -= 1;
              html += '<tr>';

              html += '<td class="number">';
              if (index % 2 == 0) {
                html += index
              }
              html += '</td>';

              for(i = 0; i < row.length; ++i) {                
                html += '<td class="stitch">'+row[i]+'</td>';
              }
              
              html += '<td class="number">';
              if (index % 2 == 1) {
                html += index
              }
              html += '</td>';
              
              html += '</tr>';
            });
            html += '</table>';
            
            $('#chart').empty();
            $('#chart').append(html);

            window.location = "#" + data.hashtag;
          });
      };

      $(function() {
        $(window).bind('hashchange', function(event) {
          $.getJSON("/chart/load.json", { encoded: event.fragment }, function(data) {
            $(".instructions").attr('value', data.instructions);
            update_chart(data.instructions);
          });
        });

        $(window).trigger('hashchange');

        $(".instructions").keyup(function() {
          update_chart($('.instructions').attr('value'));
        });
      });
    %link{ :rel => "stylesheet", :href => "/style.css"}
      
  %body
    %h1
      Knitting charter
      %small
        First time? Check out the
        = [(link_to '#SnVzdCB0eXBlIHlvdXIgaW5zdHJ1Y3Rpb25zIGFzIHlvdSBub3JtYWxseSB3b3VsZCwgbGlrZSB0aGlzLCB3aXRoIG9uZSByb3cgcGVyIGxpbmU6CgpLMTQgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICBZb3UgY2FuIGFkZCBhbnkgbm90ZXMgdGhhdCB5b3Ugd2FudApQMSwgSzEsIFAzLCBLMSwgUDIsIEs1LCBQMQpLMywgUDEsIEs0LCBQMSwgSzMsIFAxLCBLMQpQMSwgSzEsIFAzLCBLMSwgUDQsIEsxLCBQMwpLMywgUDEsIEs0LCBQNSwgSzEgICAgICAgICAgICAgICBCYXIgYWNyb3NzIHRoZSBIClAxLCBLMSwgUDMsIEsxLCBQNCwgSzEsIFAzCkszLCBQMSwgSzQsIFAxLCBLMywgUDEsIEsxClAxLCBLMSwgUDMsIEsxLCBQMiwgSzUsIFAxICAgVG9wIG9mIHRoZSBJCksxNAo=', 'example pattern'), "."].join
    
    %table
      %tr#instruction-row
        %td.label
          enter the knitting 
          %span.coloured instructions
          here:
        %td#instructions.field
          %form
            %textarea.instructions{:id => :instructions}

    %table
      %tr#chart-row
        %td.label
          your
          %span.coloured chart
          appears here:
        %td#chart.field

    #footer
      A hobby project by
      = link_to 'mailto:michael@michaelmelanson.net', 'Michael Melanson'