!!! 5
%html
  %head
    %title Knitting charter
    %script{ :type => "text/javascript", :src => "/jquery.js" }
    
    :javascript
      update_chart = function(instructions) {
          $.getJSON("/chart.json", { instructions: instructions }, function(data) {
            var chart = data.chart;
            var html = "<table>";
            var index = chart.length + 1;
            chart.map(function(row) {
              index -= 1;
              html += '<tr>';

              html += '<td class="number">';
              if (index % 2 == 0) {
                html += index
              }
              html += '</td>';

              for(i = 0; i < row.length; ++i) {                
                html += '<td class="stitch">'+row[i]+'</td>';
              }
              
              html += '<td class="number">';
              if (index % 2 == 1) {
                html += index
              }
              html += '</td>';
              
              html += '</tr>';
            });
            html += '</table>';
            
            $('#chart').empty();
            $('#chart').append(html);

            window.location = "#" + data.hashtag;
          });
      };

      $(function() {
        if (window.location.hash.length > 1) {
            $.getJSON("/chart/load.json", { encoded: window.location.hash }, function(data) {
              $(".instructions").attr('value', data.instructions);
              update_chart(data.instructions);
            });
        }

        $(".instructions").keyup(function() {
          update_chart($('.instructions').attr('value'));
        });
      });
    %link{ :rel => "stylesheet", :href => "/style.css"}
      
  %body
    %h1 Knitting charter
    
    %table
      %tr#instruction-row
        %td.label
          enter the knitting 
          %span.coloured instructions
          here:
        %td#instructions.field
          %form
            %textarea.instructions{:id => :instructions}

    %table
      %tr#chart-row
        %td.label
          your
          %span.coloured chart
          appears here:
        %td#chart.field
