!!! 5
%html
  %head
    %title Knitting charter
    %script{ :type => "text/javascript", :src => "/jquery.js" }
    %script{ :type => "text/javascript", :src => "/jquery.ba-bbq.min.js" }
    %script{ :type => "text/javascript", :src => "http://api.mixpanel.com/site_media/js/api/mixpanel.js" }
    
    :javascript
      try {
          var mpmetrics = new MixpanelLib("aa074257368fc99a1028902d89674294");
      } catch(err) {
          null_fn = function () {};
          var mpmetrics = { track: null_fn, track_funnel: null_fn, register: null_fn, register_once: null_fn };
      }

    :javascript

      update_chart = function(instructions, update_state) {
          console.log("update_chart");

          $.getJSON("/chart.json", { instructions: instructions }, function(data) {
            var chart = data.chart;
            var html = "<table>";
            var index = chart.length + 1;
            chart.map(function(row) {
              index -= 1;
              html += '<tr>';

              html += '<td class="number">';
              if (index % 2 == 0) {
                html += index
              }
              html += '</td>';

              for(i = 0; i < row.length; ++i) {                
                html += '<td class="stitch">'+row[i]+'</td>';
              }
              
              html += '<td class="number">';
              if (index % 2 == 1) {
                html += index
              }
              html += '</td>';
              
              html += '</tr>';
            });
            html += '</table>';
            
            $('#chart').empty();
            $('#chart').append(html);

            if (update_state) {
              $.bbq.pushState({'hashtag': data.hashtag});
            }
          });
      };

      $(function() {
        mpmetrics.track('load', {});
        var instruction_changes = 0;
        
        $(window).bind('hashchange', function(event) {
            var change_id = instruction_changes;
            $.getJSON("/chart/load.json", { encoded: $.bbq.getState('hashtag') }, function(data) {
                if (instruction_changes == change_id) {
                    $(".instructions").attr('value', data.instructions);
                    update_chart(data.instructions, false);
                }
            });

            $('#share-target').hide('blind');
            $('#share-link').show('fade');
        });

        $(window).trigger('hashchange');

        $(".instructions").keyup(function() {
            instruction_changes = instruction_changes + 1;
            var change_id = instruction_changes;
            window.setTimeout(function() {
                if (change_id == instruction_changes) {
                    update_chart($('.instructions').attr('value'), true);
                    mpmetrics.track('chart', {});
                }
            }, 500);
        });

        $("#share-link").click(function() {
            $.getJSON("/shorten.json", { hashtag: $.bbq.getState('hashtag') }, function(data) {
                console.log("got shortened url: " + data.url);
                $('#share-target .url').text(data.url);
                $('#share-target .url').attr('href', data.url);

                $('#share-target').show('blind');
                $('#share-link').hide('fade');
            });
        });

      });
    %link{ :rel => "stylesheet", :href => "/style.css"}
      
  %body
    %h1
      Knitting charter
      %small
        First time? Check out the
        = [(link_to '#hashtag=SnVzdCB0eXBlIHlvdXIgaW5zdHJ1Y3Rpb25zIGFzIHlvdSBub3JtYWxseSB3%0Ab3VsZCwgbGlrZSB0aGlzLCB3aXRoIG9uZSByb3cgcGVyIGxpbmU6CgpLMTQg%0AICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICBZb3UgY2Fu%0AIGFkZCBhbnkgbm90ZXMgdGhhdCB5b3Ugd2FudApQMSwgSzEsIFAzLCBLMSwg%0AUDIsIEs1LCBQMQpLMywgUDEsIEs0LCBQMSwgSzMsIFAxLCBLMQpQMSwgSzEs%0AIFAzLCBLMSwgUDQsIEsxLCBQMwpLMywgUDEsIEs0LCBQNSwgSzEgICAgICAg%0AICAgICAgICBCYXIgYWNyb3NzIHRoZSBIClAxLCBLMSwgUDMsIEsxLCBQNCwg%0ASzEsIFAzCkszLCBQMSwgSzQsIFAxLCBLMywgUDEsIEsxClAxLCBLMSwgUDMs%0AIEsxLCBQMiwgSzUsIFAxICAgVG9wIG9mIHRoZSBJCksxNAo%3D', 'example pattern'), "."].join
    
    %table
      %tr#instruction-row
        %td.label
          enter the knitting 
          %span.coloured instructions
          here:
        %td#instructions-cell
          %form
            %textarea.instructions{:id => :instructions}

    %table
      %tr#chart-row
        %td.label
          your
          %span.coloured chart
          appears here:
        %td#chart.field

    %table#share-row
      %tr
        %td.label{ :rowspan => 2 }<
          share the
          %span.coloured love
          = ":"

        %td#share-box
          %a#share-link{ :href => "javascript:void(0);" } Get short URL
          #share-target
            Copy and paste this to share this pattern:
            %a.url

    #footer
      %p
        A hobby project by
        = [(link_to 'mailto:michael@michaelmelanson.net', 'Michael Melanson'), '.'].join
        Feel free to contact me with suggestions or comments.

      %p
        Got design chops? Offers to make a design that doesn't suck would be
        much appreciated.
