#chart
  display: inline
  width: 100px
  height: 100px

  table, tr, td
    border-collapse: collapse
    
  td.stitch
    border: 1px solid black
    width: 30px
    height: 25px
    
    text-align: center
    
    font-weight: bold
    
    dot
      background-color: black
      